[Service]
URL = "http://localhost:12456"
Tags = ["exmple", "dnsresolver"]
    [ServiceMetaData]
    ExampleMetaVersion = "0.0.1"
    Test = "DATA"

# very verbose output, journal may rotate often
[Log]
DEBUG = true

[Prometheus]
Address = "localhost:9499" # turn off by set empty string

[MessageBroker]
URL = "nats://localhost:4222"
Username = "" # optional
Password = "" # optional

[PowerDNS]
URL = "http://localhost:32863"
APIToken ="1234"


[ZoneEventTopics]
Add = "zone.add"
Mod = "zone.modified"
Del = "zone.delete"

[ZoneDataTopics]
Req = "zonedata.request"
Rep = "zonedata.reply"

[AdditionalTopics]
