name: documentation

on:
  push:
    branches:
      - main

jobs:
  documentation:
    runs-on: ubuntu-latest
    if: github.repository == 'nameserver-systems/pdns-distribute'

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          lfs: true

      - name: Install lftp
        run: |
          sudo apt-get update
          sudo apt-get --yes install lftp

      - name: Install poetry
        run: pipx install poetry

      - uses: actions/setup-python@v4
        with:
          python-version: '3.10'
          check-latest: true
          cache: 'poetry'

      - name: Install requirements
        run: poetry install --no-dev

      - name: Make docs
        run: poetry run mkdocs build --clean --strict

      - name: Upload docs
        env:
          FTPS_USER_DOC: ${{ secrets.FTPS_USER_DOC }}
          FTPS_PW_DOC: ${{ secrets.FTPS_PW_DOC }}
          FTPS_HOST_DOC: ${{ secrets.FTPS_HOST_DOC }}
        run: lftp -c "set ftp:ssl-force true; set ssl:verify-certificate false; open -u $FTPS_USER_DOC,$FTPS_PW_DOC $FTPS_HOST_DOC; mirror --verbose --reverse --delete site/  ./; bye"
