name: prebuild

on:
  push:
    branches:
      - main

jobs:
  goreleaser:
    runs-on: ubuntu-latest
    steps:
      -
        name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
          lfs: true
      -
        name: Set up Go
        uses: actions/setup-go@v4
        with:
          go-version-file: './go.mod'
      -
        name: Generate goreleaser config
        run: make generate-goreleaser-config
      -
        name: Run GoReleaser
        uses: goreleaser/goreleaser-action@v5
        with:
          distribution: goreleaser
          version: latest
          args: release -f .goreleaser.yml --rm-dist --snapshot --skip-publish
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
